{% extends 'front/base.html' %}


{% block content %}
<div class="content-wrapper">

    <div class="content">
        <h2 class="text-center" style="color: rgb(41, 155, 30)">Export was successful!</h2>
        
        
        <div class="inner-content-wrapper">
            <a href="{% url 'front:download_export' key %}" target="_blank" class="clear-text-decoration">
                <button class="btn">Download playlists</button>
            </a>
        </div>
    </div>
    
</div>
{% endblock %}